langchain
langchain-core
langchain-huggingface
transformers
huggingface-hub
numpy
scikit-learn
ollama
langchain-ollama
pydantic
langchain_community
langchain_text_splitters
chromadb
tiktoken
wikipedia
faiss-cpu
langchain-tools
ddgs
langgraph 
langsmith
fastapi 
uvicorn 
whisper 
pytesseract 
pillow 
pdfplumber 
python-multipart 
streamlit
langgraph-checkpoint-sqlite
youtube-transcript-api
pypdf
speechrecognition 
yt-dlp
google-generativeai
langchain-google-genai
pdf2image